# Working on real- time project with python on "India Census 2011"
## (A Part of big data analysis)
---
# INDIA CENSUS 2011 DATASET
---
 This data is about total population, demography, literacy, districts, states, workers, religion, education, age.

 The data used here is of 2011 India Census of each district

 This data is available as a csv file from kaggle

 We will analyze this data using pandas

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
data = pd.read_csv(r"census_data.csv")

In [ ]:
data.head()

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334

### 1. How will you hide the indexes of the data frame

In [ ]:
styled_data = data.style.hide_index()

AttributeError: 'Styler' object has no attribute 'hide_index'

In [ ]:
styled_data

[False]

## 2. How can we set the heading/ caption of the dataframe

In [ ]:
data.head()

## 3. Show the records related with the districts: New Delhi, Lacknow, Jaipur.

## 4. Calculate Statewise:
## A. Total number of population
## B. Total number of population with different religions

## 5. How many Male workers were there in Maharashtra state

## 6. How to set a column as index of the dataframe

## 7a. Add a suffix to the column names.
## 7b. Add a prefix to the column names.